<div class="card entity-card zome-card">
    <template v-if="zome">
	<div class="entity-card-header">Zome: <strong>{{ zome.name }}</strong></div>
	<div class="card-body">
	    <loading :when="loading">
		<div class="row mb-2">
		    <div class="col-auto">
			<p class="card-text text-truncate mb-1">{{ zome.description || "No description" }}</p>
		    </div>
		    <div class="col text-end">
			<router-link v-if="link" class="text-decoration-none"
				     :to="'/zomes/' + zome.$id">
			    <holo-hash :hash="zome.$id" class="float-end ms-3"></holo-hash>
			</router-link>
			<holo-hash v-else :hash="zome.$id" class="float-end ms-3"></holo-hash>
		    </div>
		</div>

		<dl v-if="expanded" class="row mb-0">
		    <dt class="col-3">Author ID</dt>
		    <dd class="col-9 mb-1" style="margin-left: -0.5em;">
			<holo-hash :hash="zome.developer.pubkey" class="agent-badge"></holo-hash>
		    </dd>
		    <dt class="col-3">Tags</dt>
		    <dd v-if="zome.tags && zome.tags.length" class="col-9 mb-1 lh-lg" style="margin-left: -0.5em;">
			<span v-for="tag in zome.tags" class="badge bg-light text-secondary">{{ tag }}</span>
		    </dd>
		    <dd v-else class="col-9 mb-1 lh-lg">No tags</dd>
		</dl>
		<dl class="row mb-0">
		    <dt class="col-3">Created</dt>
		    <dd class="col-9 mb-1">
			{{ $filters.time( zome.published_at ) }}
			&mdash; <span class="fw-2">{{ $filters.time( zome.published_at, "weekday+date+time" ) }}</span>
		    </dd>
		</dl>
		<dl v-if="expanded" class="row mb-0">
		    <dt class="col-3">Last Updated</dt>
		    <dd class="col-9 mb-1">
			{{ $filters.time( zome.last_updated ) }}
			&mdash; <span class="fw-2">{{ $filters.time( zome.last_updated, "weekday+date+time" ) }}</span>
		    </dd>
		</dl>

		<div v-if="expanded" style="margin: 1rem 0 2.5rem 0;">
		    <template v-if="versions.length">
			<div v-if="more_version_count"
			     class="card entity-card entity-card-layered zome-card">
			    <div class="entity-card-header">... {{ more_version_count }} {{ more_version_text }}</div>
			</div>
			<div v-for="zome_version in recent_versions"
			     class="card entity-card entity-card-layered zome-card">
			    <div class="entity-card-header">Version: <strong>{{ zome_version.version }}</strong></div>
			</div>
			<zome-version-card :entity="latest_version"
					   :link="link"
					   :expand-depth="child_expand_depth"
					   :parent-ref="false"></zome-version-card>
		    </template>
		    <div v-else class="card my-4">
			<div class="card-body text-center p-4">
			    No versions have been published
			</div>
		    </div>
		</div>

		<div class="position-absolute bottom-0 end-0">
		    <a v-show="!expanded" @click="toggle_expansion()">
			<i class="bi-arrows-angle-expand fs-5 float-end flip-x mx-1"></i>
		    </a>
		    <a v-show="expanded" @click="toggle_expansion()">
			<i class="bi-arrows-angle-contract fs-5 float-end flip-x mx-1"></i>
		    </a>
		</div>
	    </loading>
	</div>
    </template>
</div>
