node_modules
scratch
devhub.webhapp
*.log
static/dist
static/dependencies
dnas/*.dna
zome_wasm/*.wasm
holochain
tests/*.happ
tests/demo_bundles
tests/components/dist
web_assets.zip
bundled/DevHub.happ
bundled/*.happ
tests/AGENT*
tests/*_HASH
