node_modules
holochain
web_assets.zip
scratch
*.log
static/dist
static/dependencies
bundled/*.webhapp
tests/AGENT*
tests/*_HASH
tests/assets/*.happ
tests/assets/*.dna
tests/assets/*.wasm
tests/*.happ
tests/demo_bundles
tests/components/dist
