node_modules
holochain
web_assets.zip
devhub.webhapp
scratch
*.log
static/dist
static/dependencies
tests/AGENT*
tests/*_HASH
tests/assets/*.happ
tests/assets/*.dna
tests/assets/*.wasm
tests/*.happ
tests/demo_bundles
tests/components/dist
