<div v-if="dna_version" id="dna-version-page" class="px-4 pt-3 pb-5">
    <h1>{{ dna_version.version }}: {{ dna_version.published_at | moment("MMMM D (YYYY)") }}</h1>

    <div class="row my-5">
	<div class="col-7">
	    <h3>Changelog</h3>
	    <p>{{ dna_version.changelog }}</p>
	</div>
	<div class="col-5">
	    <div class="card h-100">
		<div class="card-header">
		    Details
		</div>
		<div class="card-body">
		    <div class="d-flex flex-column h-100">
			<div class="flex-fill">
			    <strong>Contributors</strong>
			    <ul>
				<li>??</li>
			    </ul>
			</div>
			<div>
			    <hr>

			    <dl class="row">
				<dt class="col-sm-6 text-end">File Size</dt>
				<dd class="col-sm-6">{{ dna_version.file_size }} bytes</dd>
			    </dl>

			    <a href="#" class="btn btn-secondary w-100" @click="download()">
				<i class="bi-download-fill"></i>
				Download DNA Package
			    </a>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>

    <div class="modal fade" id="dna-version-delete-modal" data-bs-backdrop="static" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
		<div class="modal-header">
		    <h5 class="modal-title" id="staticBackdropLabel">Unpublish DNA Version</h5>
		    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		    <p>Are you sure you want to unpublish v{{ dna_version.version }} of the {{ this.dna_version.for_dna.name }}?</p>

		    <div class="mb-3">
			<label class="form-label">Reason</label>
			<textarea class="form-control" v-model="delete_reason" rows="3"></textarea>
		    </div>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		    <button type="button" class="btn btn-primary" @click="confirmDelete()">Confirm</button>
		</div>
	    </div>
	</div>
    </div>

</div>
