<div v-if="dna" id="dna-page" class="px-4 pt-3 pb-5">
    <h1>{{ dna.name }}</h1>

    <p>{{ dna.description }}</p>

    <div class="row my-5">
	<div class="col">
	    <div class="card h-100">
		<div class="card-header">
		    Details
		</div>
		<div class="card-body">
		    <dl class="row">
			<dt class="col-sm-3">Created</dt>
			<dd class="col-sm-9">{{ dna.published_at | moment("dddd, MMMM D (YYYY)") }}</dd>

			<dt class="col-sm-3">Last updated</dt>
			<dd class="col-sm-9">??</dd>
		    </dl>
		</div>
	    </div>
	</div>
	<div class="col">
	    <div class="card h-100">
		<div class="card-header">
		    Developed by
		</div>
		<div class="card-body">
		    <p><strong>{{ dna.developer.name }}</strong></p>
		    <p><a :href="dna.developer.website" target="_blank">{{ dna.developer.website }}</a></p>

		    <router-link to="#" class="btn btn-light float-end">More from this developer...</router-link>
		</div>
	    </div>
	</div>
    </div>

    <div class="row">
	<div class="col">
	    <h2>DNA Versions</h2>
	</div>
	<div class="col text-end">
	    <router-link :to="'/dna/' + encodeURIComponent(id) + '/version/new?version=' + next_version" class="btn btn-primary">
		<i class="bi-plus"></i>
		Create New Version
	    </router-link>
	</div>
    </div>

    <div v-for="(version,id) in versions"
	 class="row border-top py-2"
	 :entry-hash="id">
	<div class="col-2">
	    <strong>{{ version.version }}</strong>
	</div>
	<div class="col">
	    <span class="badge bg-secondary">Created on {{ version.published_at | moment("dddd, MMMM D (YYYY)") }}</span>
	</div>
	<div class="col-4">
	    <p>{{ version.file_size }}</p>
	</div>
	<div class="col-auto d-flex align-items-center">
	    <router-link :to="'/dna/version/' + encodeURIComponent(id)" class="btn btn-light">
		More info
	    </router-link>
	</div>
    </div>

</div>
