<div v-if="dna" id="dna-page" class="px-4 pt-3 pb-5">
    <div v-if="dna.deprecation" class="alert alert-danger" role="alert">
	{{ dna.deprecation.message }}
    </div>

    <h1>{{ dna.name }}</h1>

    <p>{{ dna.description }}</p>

    <div class="row my-5">
	<div class="col">
	    <div class="card h-100">
		<div class="card-header">
		    Details
		</div>
		<div class="card-body">
		    <dl class="row">
			<dt class="col-sm-3">Created</dt>
			<dd class="col-sm-9">{{ dna.published_at | moment("dddd, MMMM D (YYYY)") }}</dd>

			<dt class="col-sm-3">Last updated</dt>
			<dd class="col-sm-9">??</dd>
		    </dl>
		</div>
	    </div>
	</div>
	<div class="col">
	    <div class="card h-100">
		<div class="card-header">
		    Developed by
		</div>
		<div class="card-body">
		    <p><strong>{{ dna.developer.name }}</strong></p>
		    <p><a :href="dna.developer.website" target="_blank">{{ dna.developer.website }}</a></p>

		    <router-link to="#" class="btn btn-light float-end">More from this developer...</router-link>
		</div>
	    </div>
	</div>
    </div>

    <div class="row">
	<div class="col">
	    <h2>DNA Versions</h2>
	</div>
	<div class="col text-end">
	    <router-link :to="'/dna/' + encodeURIComponent(id) + '/version/new?version=' + next_version" class="btn btn-primary">
		<i class="bi-plus"></i>
		Create New Version
	    </router-link>
	</div>
    </div>

    <div v-if="versions.length">
	<div v-for="version in versions"
	     class="row border-top py-2"
	     :entry-hash="version.id">
	    <div class="col-2">
		<strong>v{{ version.version }}</strong>
	    </div>
	    <div class="col">
		<span class="badge bg-secondary">Created on {{ version.published_at | moment("dddd, MMMM D (YYYY)") }}</span>
	    </div>
	    <div class="col-3 text-end">
		<p>{{ version.file_size | number }} bytes</p>
	    </div>
	    <div class="col-3 d-flex align-items-center justify-content-end">
		<router-link :to="'/dna/version/' + encodeURIComponent(version.hash)" class="btn btn-light">
		    More info
		</router-link>
	    </div>
	</div>
    </div>
    <div v-else class="card">
	<div class="card-body text-center">
	    No versions
	</div>
    </div>

    <div class="modal fade" id="dna-deprecation-modal" data-bs-backdrop="static" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
		<div class="modal-header">
		    <h5 class="modal-title" id="staticBackdropLabel">Deprecate DNA</h5>
		    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		    <p>Are you sure you want to deprecate the {{ dna.name }} DNA?</p>

		    <div class="mb-3">
			<label class="form-label">Reason</label>
			<textarea class="form-control" v-model="deprecation.reason" rows="3"></textarea>
		    </div>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		    <button type="button" class="btn btn-primary" @click="confirmDeprecation()">Confirm</button>
		</div>
	    </div>
	</div>
    </div>

</div>
