<div v-if="dna_version" id="dna-version-create-page" class="px-4 pt-3 pb-5">
    <div class="mb-3">
	<div class="input-group input-group-lg mb-3">
	    <input type="number" class="form-control" v-model="dna_version.version">
	    <input type="date" class="form-control" v-model="published_date">
	</div>
    </div>

    <div class="mb-3">
	<label class="form-label">Changelog</label>
	 <textarea class="form-control" v-model="dna_version.changelog" rows="10" placeholder="..."></textarea>
    </div>

    <div class="card">
	<div class="card-header">
	    Contributors
	</div>
	<div class="card-body">
	    <div class="col-10">
		<input type="text" class="form-control">
	    </div>
	</div>
    </div>
</div>
