<div v-if="dna_version" id="dna-version-page" class="px-4 pt-3 pb-5">
    <h1>{{ dna_version.version }}: {{ dna_version.published_at | moment("MMMM D (YYYY)") }}</h1>

    <div class="row my-5">
	<div class="col-7">
	    <h3>Changelog</h3>
	    <p>{{ dna_version.changelog }}</p>
	</div>
	<div class="col-5">
	    <div class="card h-100">
		<div class="card-header">
		    Details
		</div>
		<div class="card-body">
		    <div class="d-flex flex-column h-100">
			<div class="flex-fill">
			    <strong>Contributors</strong>
			    <ul>
				<li>??</li>
			    </ul>
			</div>
			<div>
			    <hr>

			    <dl class="row">
				<dt class="col-sm-6 text-end">File Size</dt>
				<dd class="col-sm-6">{{ dna_version.file_size }} bytes</dd>
			    </dl>

			    <a href="#" class="btn btn-secondary w-100" @click="download()">
				<i class="bi-download-fill"></i>
				Download DNA Package
			    </a>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>

</div>
