<div v-if="happ_release" id="happ-release-page" class="px-4 pt-3 pb-5">
    <h1>{{ happ_release.name }}: {{ happ_release.published_at | time('date') }}</h1>

    <div class="row my-5">
	<div class="col-6">
	    <h3>Description</h3>
	    <p>{{ happ_release.description }}</p>
	</div>
	<div class="col-6">
	    <div class="card h-100">
		<div class="card-header">
		    Details
		</div>
		<div class="card-body">
		    <div class="d-flex flex-column h-100">
			<h4>Slots</h4>
			<div class="mx-2">
			    <div v-for="(dna_id, slot_id) in happ_release.resources" class="row">
				<hr>
				<div class="col ms-2">
				    <p><strong>{{ slot_id }}</strong><br> <code>{{ dna_id }}</code></p>
				</div>
				<div class="col-auto me-2">
				    <router-link :to="'/dna/version/' + dna_id" class="btn btn-light">
					More info
				    </router-link>
				</div>
			    </div>
			</div>
			<div>
			    <hr>

			    <a href="#" class="btn btn-secondary w-100" @click="download()">
				<i class="bi-download-fill"></i>
				Download hApp Package
			    </a>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>

    <div class="modal fade" id="happ-release-delete-modal" data-bs-backdrop="static" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
		<div class="modal-header">
		    <h5 class="modal-title" id="staticBackdropLabel">Unpublish hApp Release</h5>
		    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		    <p>Are you sure you want to unpublish v{{ happ_release.name }} of the {{ happ_release.for_happ.name }}?</p>

		    <div class="mb-3">
			<label class="form-label">Reason</label>
			<textarea class="form-control" v-model="delete_reason" rows="3"></textarea>
		    </div>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		    <button type="button" class="btn btn-primary" @click="confirmDelete()">Confirm</button>
		</div>
	    </div>
	</div>
    </div>

</div>
