<div v-if="happ_release" id="happ-release-create-page" class="px-4 pt-3 pb-5">

    <div class="row">
	<div class="col-6">
	    <div class="mb-3">
		<div class="input-group input-group-lg mb-3">
		    <span class="input-group-text">Name</span>
		    <input class="form-control" v-model="happ_release.name" :disabled="!happ_release.manifest_yaml">
		</div>
	    </div>

	    <div class="mb-3">
		<label class="form-label">Description</label>
		<textarea class="form-control" v-model="happ_release.description" rows="5" placeholder="..."
			  :disabled="!happ_release.manifest_yaml"></textarea>
	    </div>

	    <div class="mb-3">
		<label class="form-label">Slots</label>

		<div v-if="manifest">
		    <div v-for="slot in manifest.slots">
			<div class="input-group input-group-lg mb-3">
			    <span class="input-group-text">{{ slot.id }}</span>
			    <input class="form-control" v-model="happ_release.resources[slot.id]">
			</div>
		    </div>
		</div>
		<div v-else class="card">
		    <div class="card-body text-center">
			No slots
		    </div>
		</div>
	    </div>
	</div>

	<div class="col-6">
	    <div v-if="happ_release.manifest_yaml" class="mb-3">
		<label class="form-label">Manifest YAML File</label>
		<pre>{{ happ_release.manifest_yaml }}</pre>
	    </div>
	    <div v-else class="mb-3">
		<label class="form-label">Manifest YAML File</label>
		<input class="mb-3 p-5 border-3 border-secondary bg-light rounded-3 text-center w-100" style="border-style: dashed;"
		       type="file" @change="fileSelected">
	    </div>
	</div>
    </div>

</div>
