<page-view id="list-happs-page">
    <page-header controls-col="7">
	<template #default>
	    <h1 class="fs-2">{{ title }}</h1>
	    <a v-if="$happs.loaded" @click="fetchHapps()" class="ms-2 fs-4">
		<i class="bi-arrow-repeat" :class="{ 'animate-spin': $happs.loading }"></i>
	    </a>
	</template>

	<template #title-extras>
            <router-link to="/happs/new" class="btn btn-primary me-5 text-nowrap">
		<i class="bi-plus-lg"></i>
		Add hApp
            </router-link>
	</template>

	<template #controls>
            <div class="row">
		<div class="col-6">
                    <div class="row align-items-center">
			<label class="col-sm-3 text-end">Sort by</label>
			<div class="col-sm-9">
                            <select class="form-select" v-model="order_by">
				<option value="published_at">Date created</option>
				<option value="name">hApp name</option>
                            </select>
			</div>
                    </div>
		</div>
		<div class="col-6">
		    <input-feedback :validator="isAgentPubKey">
			<search v-model="agent_input" @change="updateAgent( agent_input )"
				placeholder="Paste Agent PubKey..."></search>
		    </input-feedback>
		</div>
	    </div>
	</template>
    </page-header>

    <hr>

    <list-group :list="happs" no-result-text="No hApps" :loading="$happs.loading">
	<list-group-item v-for="happ in happs">
	    <div class="row align-items-center">
		<div class="col pt-3">
		    <h3 class="fs-6">{{ happ.title }} &mdash; <span class="fw-2">{{ happ.subtitle }}</span></h3>
		    <p>{{ happ.description }}</p>
		</div>
		<div class="col-4">
		    <span class="badge badge-md bg-secondary">Created on {{ $filters.time( happ.published_at ) }}</span>
		</div>
		<div class="col-auto">
		    <router-link :to="'/happs/' + happ.$id" class="btn btn-light">
			More info
		    </router-link>
		</div>
	    </div>
	</list-group-item>
    </list-group>
</page-view>
