<page-view id="single-happ-page">
    <breadcrumbs v-if="happ" :skip-base="true" :path-mapping="breadcrumb_mapping" :sub-1="happ.title">
	<a v-if="$happ.loaded" @click="fetchHapp()" class="ms-2 fs-4">
	    <i class="bi-arrow-repeat" :class="{ 'animate-spin': $happ.loading }"></i>
	</a>
    </breadcrumbs>

    <hr>

    <deprecation-alert v-if="deprecated && $happ.current"
		       title="This hApp has been deprecated"
		       :message="happ.deprecation.message"></deprecation-alert>

    <page-header class="mb-3">
	<template #default>
	    <div>
		<h1 class="fs-2">
		    <placeholder :when="!$happ.current" size="fill">
			{{ happ.title }}
		    </placeholder>
		</h1>
		<h2 class="fs-5 text-muted">
		    <placeholder :when="!$happ.current" size="fill">
			{{ happ.subtitle }}
		    </placeholder>
		</h2>
	    </div>
	</template>

	<template #title-extras v-if="!deprecated">
            <router-link :to="'/happs/' + id + '/update'" class="btn btn-outline-primary text-nowrap align-middle">
		<i class="bi-pencil"></i>
		Edit
            </router-link>

            <a @click="modal.show()" class="btn btn-outline-primary ms-3 text-nowrap">
		<i class="bi-x-lg"></i>
		Deprecate
            </a>
	</template>
    </page-header>

    <div class="mb-5">
	<p><placeholder :when="!$happ.current" size="p">{{ happ.description }}</placeholder></p>
    </div>

    <div class="row align-items-stretch">
	<div class="col-6">
	    <div class="card h-100">
		<div class="card-header">
		    Details
		</div>
		<div class="card-body">
		    <dl class="row">
			<dt class="col-sm-4">Created</dt>
			<dd class="col-sm-8"><placeholder :when="!$happ.current">{{ $filters.time( happ.published_at, "weekday+date" ) }}</placeholder></dd>

			<dt class="col-sm-4">Last Updated</dt>
			<dd class="col-sm-8"><placeholder :when="!$happ.current">{{ $filters.time( happ.last_updated, "weekday+date" ) }}</placeholder></dd>

			<dt class="col-sm-4">Authors</dt>
			<dd class="col-sm-8"><placeholder :when="!$happ.current">N/A</placeholder></dd>
		    </dl>
		</div>
	    </div>
	</div>

	<div class="col-6">
	    <div class="card h-100">
		<div class="card-header">
		    Developed by
		</div>
		<div class="card-body">
		    <dl class="row">
			<dt class="col-sm-12"><placeholder :when="!$happ.current">{{ happ.designer }}</placeholder></dt>
			<dd class="col-sm-12">
			    <span>No website</span>
			</dd>
		    </dl>
		</div>
	    </div>
	</div>
    </div>

    <div class="mt-5">
	<div class="d-flex mb-4">
	    <h2 class="fs-4 flex-grow-1">
		hApp Releases
		<a v-if="$releases.loaded" @click="fetchHappReleases()" class="ms-2 fs-4">
		    <i class="bi-arrow-repeat" :class="{ 'animate-spin': $releases.loading }"></i>
		</a>
	    </h2>

            <router-link v-if="happ" :to="'/happs/' + id + '/releases/new'"
			 class="btn btn-primary text-nowrap"
			 :class="{ 'disabled': deprecated }">
		<i class="bi-plus-lg"></i>
		Create new release
            </router-link>
	</div>

	<list-group :list="releases" no-result-text="No hApp Releases" :loading="$releases.loading">
	    <div class="row px-3">
		<div class="col-2 fw-7">
		    Release #
		</div>
		<div class="col-4 fw-7">
		    Created
		</div>
		<div class="col-2 fw-7">
		    File size
		</div>
		<div class="col"></div>
	    </div>

	    <hr class="my-1">

	    <list-group-item v-for="release in releases" class="py-3">
		<div class="row align-items-center">
		    <div class="col-2">
			<h3 class="fs-6 m-0">{{ release.name }}</h3>
		    </div>
		    <div class="col-4">
			Created on {{ $filters.time( release.published_at, "weekday+date" ) }}
		    </div>
		    <div class="col-2">
			N/A
		    </div>
		    <div class="col text-end text-nowrap">
			<a @click="promptUnpublish( release )" class="btn btn-secondary text-nowrap">
			    Unpublish
			</a>

			<router-link :to="'/happs/' + id + '/releases/' + release.$id" class="btn btn-light ms-5">
			    More info
			</router-link>
		    </div>
		</div>
	    </list-group-item>
	</list-group>
    </div>

    <modal v-if="happ" title="Deprecate hApp" ref="modal"
	   action-text="Deprecate" :action="deprecate" data-bs-backdrop="static">
	<form ref="form" :class="{ 'was-validated': validated }">
	    <div class="mb-4">
		<p>Are you sure you want to deprecate the <strong>{{ happ.title }}</strong> hApp?</p>
	    </div>
	    <input-feedback>
		<textarea v-model="deprecation.message" class="form-control" rows="4"
			  placeholder="Reason (optional)" required :disabled="$happ.deprecating"></textarea>
	    </input-feedback>
	</form>
    </modal>

    <modal title="Unpublish hApp Release" ref="unpublishModal"
	   action-text="Unpublish" :action="unpublish" data-bs-backdrop="static">
	<div v-if="happ && release">
	    <p>Are you sure you want to unpublish the {{ happ.title }} hApp Release <strong>{{ release.name }}</strong>?</p>
	</div>
    </modal>
</page-view>
