<page-view id="update-happ-page">
    <breadcrumbs v-if="happ" :skip-base="true" :path-mapping="breadcrumb_mapping" :sub-1="happ.name"></breadcrumbs>

    <hr>

    <div class="row">
	<form ref="form" class="col-6" :class="{ 'was-validated': validated }">
	    <template v-if="happ">
		<label class="form-label fw-6">hApp Title</label>
		<input-feedback valid-message="That's a great title!">
		    <input type="text" v-model="happ.title" class="form-control"
			   @change="copy(happ, input, 'title')"
			   :disabled="$happ.updating" required>
		</input-feedback>

		<label class="form-label fw-6">hApp Subtitle</label>
		<input-feedback>
		    <input type="text" v-model="happ.subtitle" class="form-control"
			   @change="copy(happ, input, 'subtitle')"
			   :disabled="$happ.updating" required>
		</input-feedback>

		<label class="form-label fw-6">hApp Description</label>
		<input-feedback>
		    <textarea v-model="happ.description" class="form-control" rows="3"
			      @change="copy(happ, input, 'description')"
			      :disabled="$happ.updating" required></textarea>
		</input-feedback>

		<display-error class="mt-5" :error="error"></display-error>

		<div class="row mt-5">
		    <div class="col-6"></div>
		    <div class="col-3">
			<router-link :to="'/happs/' + id" class="btn btn-outline-primary w-100">Cancel</router-link>
		    </div>
		    <div class="col-3">
			<a @click="update()" class="btn btn-primary w-100" :class="{ 'disabled': $happ.updating }">
			    <span v-if="$happ.updating"
				  class="spinner-border spinner-border-sm me-3"></span>
			    Save
			</a>
		    </div>
		</div>
	    </template>
	    <div v-else class="card">
		<div class="card-body text-center p-4">
		    <div class="spinner-border mt-1" role="status">
			<span class="visually-hidden">Loading...</span>
		    </div>
		</div>
	    </div>
	</form>
    </div>

</page-view>
