<page-view id="create-happ-page">
    <breadcrumbs :skip-base="true" :path-mapping="breadcrumb_mapping"></breadcrumbs>

    <hr>

    <div class="row">
	<form class="col-6" :class="{ 'was-validated': $happ.failed }">
	    <label class="form-label fw-6">hApp Title</label>
	    <input-feedback>
		<input type="text" v-model="happ$.title" class="form-control" :disabled="$happ.writing" required>
	    </input-feedback>

	    <label class="form-label fw-6">hApp Subtitle</label>
	    <input-feedback>
		<input type="text" v-model="happ$.subtitle" class="form-control" :disabled="$happ.writing" required>
	    </input-feedback>

	    <label class="form-label fw-6">hApp Description</label>
	    <input-feedback>
		<textarea v-model="happ$.description" class="form-control" rows="3" :disabled="$happ.writing"></textarea>
	    </input-feedback>

	    <div>
		<label class="form-label fw-6">Tags</label>
		<div class="form-input-search">
		    <input type="text" class="form-control no-validate" placeholder="search and add tags"
			   v-model="tag_search_text" @keyup.keydown.enter.prevent="addTag( tag_search_text )">
		</div>

		<div class="p-3">
		    <div v-for="tag in happ$.tags" class="badge-group ms-2">
			<span class="badge bg-secondary">{{ tag }}</span>
			<span class="badge bg-secondary bg-btn" @click="removeTag( tag )">
			    <i class="bi-x-lg"></i>
			</span>
		    </div>
		</div>
	    </div>

	    <input-rejections v-if="$happ.failed" :rejections="happ_rejections"></input-rejections>

	    <div class="row mt-5">
		<div class="col-6"></div>
		<div class="col-3">
		    <router-link to="/happs" class="btn btn-outline-primary w-100">Cancel</router-link>
		</div>
		<div class="col-3">
		    <a @click="create()" class="btn btn-primary w-100"
		       :class="{ 'disabled': $happ.writing || ($happ.failed && $happ.invalid) }">
			<span v-if="$happ.writing"
			      class="spinner-border spinner-border-sm me-3"></span>
			Save
		    </a>
		</div>
	    </div>

	    <display-error class="mt-5" :error="happ_errors.write"></display-error>
	</form>
    </div>

</page-view>
