<page-view id="list-happs-page">
    <page-header controls-col="7">
	<template #default>
	    <h1 class="fs-2">{{ title }}</h1>
	    <a v-if="$happs.loaded" @click="fetchHapps()" class="ms-2 fs-4">
		<i class="bi-arrow-repeat" :class="{ 'animate-spin': $happs.loading }"></i>
	    </a>
	</template>

	<template #title-extras>
            <router-link to="/happs/new" class="btn btn-primary me-5 text-nowrap">
		<i class="bi-plus-lg"></i>
		Add hApp
            </router-link>
	</template>

	<template #controls>
            <div class="row row-cols g-3 align-items-center justify-content-end">
		<div class="col-4">
		    <select class="form-select" v-model="order_by" placeholder="Sort by">
			<optgroup label="Sort by">
			    <option value="title">hApp title</option>
			    <option value="published_at">Date created</option>
			    <option value="last_updated">Last updated</option>
			</optgroup>
		    </select>
		</div>
		<div class="col-2">
		    <div class="form-check form-check-inline">
			<input class="form-check-input" id="reverseOrder" type="checkbox" v-model="reverse_order">
			<label class="form-check-label" for="reverseOrder">Reverse</label>
		    </div>
		</div>
		<div class="col-6">
		    <search v-model="list_filter" placeholder="Search list..."></search>
		</div>
	    </div>
	</template>
    </page-header>

    <hr>

    <list-group :list="happs" no-result-text="No hApps" :loading="$happs.loading">
	<list-group-item v-for="happ in happs">
	    <div class="row align-items-center">
		<div class="col pt-3">
		    <h3 class="fs-6">{{ happ.title }} &mdash; <span class="fw-2">{{ happ.subtitle }}</span></h3>
		    <p>{{ happ.description }}</p>
		</div>
		<div class="col-2 text-center">
		    <template v-if="happ.tags && happ.tags.length">
			<span v-for="tag in happ.tags" class="badge bg-light text-dark me-1">{{ tag }}</span>
		    </template>
		    <span v-else>No tags</span>
		</div>
		<div class="col-2 text-center">
		    <span class="fw-lighter">Last updated</span>
		    <br><datetime :datetime="happ.last_updated"></datetime>
		</div>
		<div class="col-auto">
		    <router-link :to="'/happs/' + happ.$id" class="btn btn-light">
			More info
		    </router-link>
		</div>
	    </div>
	</list-group-item>
    </list-group>
</page-view>
