<page-view id="create-happ-release-page">
    <breadcrumbs :skip-base="true" :path-mapping="breadcrumb_mapping"></breadcrumbs>

    <hr>

    <form ref="form" :class="{ 'was-validated': validated }">
	<div v-if="!input.hdk_version" class="row">
	    <div class="col-6">
		<loading :when="!$previous_hdk_versions.current">
		    <label class="form-label">Versions on DevHub</label>
		    <select class="form-select"
			    @change="selectHDKVersion( $event.target.value )"
			    :disabled="previous_hdk_versions.length === 0">
			<option selected value="">Choose an HDK version</option>
			<option v-for="hdkv in previous_hdk_versions">{{ hdkv }}</option>
		    </select>
		</loading>
	    </div>
	</div>

	<div v-if="input.hdk_version" class="row">
	    <div class="col-12">
		<a class="btn btn-outline-secondary"
		   @click="input.hdk_version = ''">
		    <i class="bi-chevron-left"></i>
		    Change HDK Version
		</a>
	    </div>
	    <div class="col-6">
		<label class="form-label fw-6">Release Name</label>
		<input-feedback>
		    <input type="text" v-model="input.name" class="form-control" :disabled="saving" required>
		</input-feedback>

		<label class="form-label fw-6">Description</label>
		<input-feedback>
		    <textarea v-model="input.description" class="form-control" rows="10"
			      :disabled="saving" required></textarea>
		</input-feedback>

		<label class="form-label fw-6">DNAs</label>

		<list-group :list="input.dnas" no-result-text="No Dnas have been added"
			    class="mt-0">
		    <list-group-item v-for="(dna_ref, index) in input.dnas" class="py-3">
			<input-feedback class="mb-3">
			    <div class="input-group">
				<span class="input-group-text">Role ID</span>
				<input type="text" v-model="dna_ref.role_id" class="form-control" required :disabled="saving">
			    </div>
			</input-feedback>

			<dna-version-card :id="dna_ref.version"
					   :actions="dna_card_actions( index )"></dna-version-card>
		    </list-group-item>
		</list-group>
	    </div>
	    <div class="col-6">
		<div class="mb-3">
		    <label class="form-label fw-6">Search DNAs</label>
		    <div class="form-input-search" :class="{ 'show-results': filtered_dnas.length }">
			<input type="text" class="form-control no-validate" placeholder="start typing a Dna name"
			       v-model="dna_search_text" @keyup.enter="addDna( filtered_dnas[0] )">
		    </div>
		</div>

		<list-group :list="compatible_dnas" :loading="$compatible_dnas.loading" no-result-text="No Dnas" class="mt-0">
		    <template v-for="dna in compatible_dnas" :key="dna.$id">
			<list-group-item v-if="!dnaIsAdded( dna.$id )" class="py-3">
			    <dna-card :id="dna.$id"
				      :link="false"
				      :actions="[ addDnaAction( dna ) ]"></dna-card>
			</list-group-item>
		    </template>
		</list-group>
	    </div>
	</div>

	<div v-if="input.hdk_version" class="row">
	    <div class="col-6">
		<label class="form-label fw-6">Drag and drop zipped GUI</label>
		<input-feedback style="height: 10rem;" :valid-message="file_valid_feedback">
		    <input type="file" @change="file_selected" class="form-control form-input-file" :disabled="saving">
		</input-feedback>
	    </div>
	</div>

	<div v-if="input.hdk_version" class="row">
	    <div class="col-6">
		<display-error class="mt-5" :error="error"></display-error>

		<div class="row mt-5">
		    <div class="col-6"></div>
		    <div class="col-3">
			<router-link :to="'/happs/' + happ_id" class="btn btn-outline-primary w-100">Cancel</router-link>
		    </div>
		    <div class="col-3">
			<a @click="create()" class="btn btn-primary w-100" :class="{ 'disabled': saving }">
			    <span v-if="saving"
				  class="spinner-border spinner-border-sm me-3"></span>
			    Save
			</a>
		    </div>
		</div>
	    </div>
	</div>
    </form>

    <modal ref="changeVersion"
	   :title="'Change version for ' + (change_version_context ? change_version_context[1].name : '...')"
	   data-bs-backdrop="static">
	<loading :when="!$alternative_versions.current">
	    <div v-for="version in alternative_versions" class="mb-3">
		<dna-version-card :id="version.$id"
				  :link="false"
				  class="cursor-pointer"
				  @click="selectNewVersion( version )"></dna-version-card>
	    </div>
	</loading>
    </modal>

</page-view>
