<page-view id="create-happ-release-page">
    <breadcrumbs v-if="happ" :skip-base="true" :path-mapping="breadcrumb_mapping"
		 :sub-1="happ.title"></breadcrumbs>

    <hr>

    <form :class="{ 'was-validated': $release.failed }">
	<div v-if="!release$.hdk_version" class="row">
	    <div class="col-6">
		<loading :when="!$previous_hdk_versions.current">
		    <label class="form-label">Versions on DevHub</label>
		    <select class="form-select"
			    @change="selectHDKVersion( $event.target.value )"
			    :disabled="previous_hdk_versions.length === 0">
			<option selected value="">Choose an HDK version</option>
			<option v-for="hdkv in previous_hdk_versions">{{ hdkv }}</option>
		    </select>
		</loading>
	    </div>
	</div>
	<div v-else class="row">
	    <div class="col-12">
		<a class="btn btn-outline-secondary"
		   @click="release$.hdk_version = ''">
		    <i class="bi-chevron-left"></i>
		    Change HDK Version
		</a>
	    </div>
	    <div class="col-6">
		<label class="form-label fw-6">Release Name</label>
		<input-feedback>
		    <input type="text" v-model="release$.name" class="form-control"
			   :disabled="$release.writing" required>
		</input-feedback>

		<label class="form-label fw-6">Ordering</label>
		<input-feedback>
		    <input type="number" v-model.number="release$.ordering" class="form-control"
			   :disabled="$release.writing" required>
		</input-feedback>

		<label class="form-label fw-6">Description</label>
		<input-feedback>
		    <textarea v-model="release$.description" class="form-control" rows="10"
			      :disabled="$release.writing"></textarea>
		</input-feedback>

		<div class="row mt-3">
		    <div class="col">
			<label class="form-label fw-6">DNAs</label>
		    </div>
		    <div class="col-auto">
			<a @click="dna_picker_modal.show()"
			   class="btn btn-primary">Select DNAs</a>
		    </div>
		</div>

		<list-group :list="release$.dnas" no-result-text="No DNAs have been added"
			    class="mt-0">
		    <list-group-item v-for="(dna_ref, index) in release$.dnas" class="py-3">

			<div class="card entity-ref dna-version-ref">
			    <identicon class="position-absolute top-0 end-0"
				       style="margin: 10px;"
				       :seed="dna_ref.dna"></identicon>
			    <div class="d-flex">
				<strong class="flex-grow-1">v{{ dna_ref.title }}</strong>
				<a v-if="dna_ref.version_count > 1"
				   class="btn btn-sm btn-outline-secondary"
				   @click="changeDnaVersion( index )">
				    Change Version
				</a>
			    </div>
			    <!-- <span class="fw-small">&mdash; for DNA ({{ dna_ref.dna }})</span> -->

			    <input-feedback class="mt-3">
				<div class="input-group">
				    <span class="input-group-text">Role ID</span>
				    <input type="text" v-model="dna_ref.role_id"
					   class="form-control" required :disabled="$release.writing">
				</div>
			    </input-feedback>
			</div>
		    </list-group-item>
		</list-group>

		<div class="row mt-3">
		    <div class="col">
			<label class="form-label fw-6">Official GUI</label>
		    </div>
		    <div class="col-auto">
			<a @click="gui_releases_modal.show()"
			   class="btn btn-primary ms-3">Select GUI Release</a>
		    </div>
		    <div class="col-12">
			<gui-release-ref v-if="release$.official_gui"
					 :id="release$.official_gui.toString()"></gui-release-ref>
			<div v-else class="card my-4">
			    <div class="card-body text-center">
				No GUI Selected
			    </div>
			</div>
		    </div>
		</div>

		<input-rejections v-if="$release.failed" class="mt-5"
				  :rejections="release_rejections"></input-rejections>

		<div class="row mt-5">
		    <div class="col-6"></div>
		    <div class="col-3">
			<router-link :to="'/happs/' + happ_id"
				     class="btn btn-outline-primary w-100">Cancel</router-link>
		    </div>
		    <div class="col-3">
			<a @click="create()" class="btn btn-primary w-100"
			   :class="{ 'disabled': $release.writing }">
			    <span v-if="$release.writing"
				  class="spinner-border spinner-border-sm me-3"></span>
			    Save
			</a>
		    </div>
		</div>

		<display-error class="mt-5" :error="release_errors.write"></display-error>
	    </div>
	</div>

    </form>

    <modal ref="change_version"
	   :title="'Change version for ' + (change_version_context ? change_version_context[1].name : '...')"
	   data-bs-backdrop="static">
	<loading :when="!$alternative_versions.current">
	    <div v-for="version in alternative_versions" class="mb-3">
		<dna-version-card :id="version.$id"
				  :link="false"
				  class="cursor-pointer"
				  @click="selectNewVersion( version )"></dna-version-card>
	    </div>
	</loading>
    </modal>

    <modal title="Select GUI Release" ref="select_gui_release"
	   cancel-text="Finish" data-bs-backdrop="static">

	<div class="accordion">
	    <div v-for="(gui, i) in all_guis"
		 class="accordion-item">
		<h2 class="accordion-header" @click="getGUIReleases( gui.$id )">
		    <button class="accordion-button collapsed" type="button"
			    data-bs-toggle="collapse" :data-bs-target="'#collapse-' + i">
			<strong>{{ gui.name }}</strong>
		    </button>
		</h2>
		<div :id="'collapse-' + i" class="accordion-collapse collapse">
		    <div class="accordion-body text-start">
			<p>{{ gui.description }}</p>
			<loading :when="!$gui_releases( gui.$id ).present">
			    <div v-for="release in gui_releases( gui.$id )" :key="release.$id"
				 class="mb-3">
				<gui-release-ref :id="release.$id.toString()" class="cursor-pointer"
						 @click="release$.official_gui = release$.official_gui === String(release.$id) ? null : String(release.$id)">
				    <template #title>
					<input class="form-check-input me-2"
					       type="radio" name="official_gui"
					       v-model="release$.official_gui"
					       :value="String(release.$id)">
				    </template>

				    <datetime :datetime="release.last_updated"></datetime>
				</gui-release-ref>
			    </div>
			</loading>
		    </div>
		</div>
	    </div>
	</div>

    </modal>

    <dna-picker-modal ref="dna_picker" name="selected_dnas" multiple :onclose="updateDnaList"
		      v-model="added_dnas" :hdk-version="release$.hdk_version"></dna-picker-modal>

</page-view>
