<page-view id="single-happ release-page">
    <breadcrumbs v-if="release && happ" :skip-base="true" :path-mapping="breadcrumb_mapping"
		 :sub-1="happ.title" :sub-3="release.version">
	<a v-if="$release.present" @click="refresh()" class="ms-2 fs-4">
	    <i class="bi-arrow-repeat" :class="{ 'animate-spin': $release.reading }"></i>
	</a>
    </breadcrumbs>

    <hr>

    <deprecation-alert v-if="happ?.deprecation && $release.current"
		       title="The parent hApp has been deprecated"></deprecation-alert>

    <div class="mb-4">
	<h1 class="fs-2"><placeholder :when="!$happ.current" size="25%">{{ happ.title }}</placeholder></h1>
    </div>

    <page-header class="mb-2 p-3">
	<template #default>
            <h2 class="fs-5 text-nowrap">
		<placeholder :when="!$release.current" size="fill">{{ release.version }}
		    <span class="fw-3 ms-3">({{ $filters.time( release.published_at, "date" ) }})</span>
		</placeholder>
	    </h2>
	</template>

	<template #title-extras v-if="$happ.writable">
            <router-link :to="'/happs/' + happ_id + '/releases/' + id + '/update'" class="btn btn-outline-primary text-nowrap align-middle">
		<i class="bi-pencil"></i>
		Edit release
            </router-link>

            <a @click="modal.show()" class="btn btn-secondary ms-5 text-nowrap">
		Unpublish
            </a>
	</template>

	<template #controls>
	    <identicon :seed="id" :size="50"></identicon>
	</template>
    </page-header>

    <div class="row align-items-stretch">
	<div class="col-8">
	    <div class="card h-100">
		<div class="card-header">
		    Changelog
		</div>
		<div class="card-body">
		    <placeholder :when="!$release.current">
			<div v-html="mdHTML( release.description )"></div>
		    </placeholder>
		</div>
	    </div>
	</div>

	<div class="col-4">
	    <div class="card">
		<div class="card-header">
		    Details
		</div>
		<div class="card-body">
		    <dl class="row">
			<dt class="col-sm-12">Created</dt>
			<dd class="col-sm-12">
			    <placeholder :when="!$release.current">
				<datetime :datetime="release.published_at" format="weekday+date+time"></datetime>
			    </placeholder>
			</dd>

			<dt class="col-sm-12">Last Updated</dt>
			<dd class="col-sm-12">
			    <placeholder :when="!$release.current">
				<datetime :datetime="release.last_updated" format="weekday+date+time"></datetime>
			    </placeholder>
			</dd>

			<dt class="col-sm-12">HDK Version</dt>
			<dd class="col-sm-12"><placeholder :when="!$release.current">{{ release.hdk_version }}</placeholder></dd>

			<dt class="col-sm-12">Resource Hash</dt>
			<dd class="col-sm-12"><placeholder :when="!$release.current"><code>{{ release.dna_hash }}</code></placeholder></dd>

			<dt class="col-sm-12">Official GUI</dt>
			<dd class="col-sm-12">
			    <placeholder :when="!$release.current">
				<gui-release-ref v-if="release.official_gui"
						 :id="release.official_gui.toString()"></gui-release-ref>
				<div v-else class="card">
				    <div class="card-body text-center">
					No GUI Selected
				    </div>
				</div>
			    </placeholder>
			</dd>
		    </dl>

		    <h4 class="mt-5">DNAs</h4>
		    <list-group v-if="release" :list="release.dnas" :loading="!$release.current"
				no-result-text="No DNAs">
			<list-group-item v-for="dna_ref in release.dnas">
			    <dna-version-card :id="dna_ref.version"
					      :title="dna_ref.role_name"></dna-version-card>
			</list-group-item>
		    </list-group>

		    <loading :when="!$release.current">
			<div class="mt-5">
			    <a class="btn btn-primary w-100" @click="downloadPackageBytes()">
				<span v-if="$package_bytes.reading"
				      class="spinner-border spinner-border-sm me-3"></span>
				<i v-else class="bi-download"></i>
				Download {{ package_filename }}
			    </a>

			    <display-error class="mt-3" :error="package_bytes_errors.read"></display-error>
			    <!-- <display-error class="mt-3" :error="download_error"></display-error> -->
			</div>

			<div v-if="release.official_gui" class="mt-5">
			    <a class="btn btn-primary w-100" @click="downloadWebhappPackageBytes()">
				<span v-if="downloading_webhapp"
				      class="spinner-border spinner-border-sm me-3"></span>
				<i v-else class="bi-download"></i>
				Download {{ package_webhapp_filename }}
			    </a>

			    <!-- <a class="btn btn-primary w-100" @click="oldDownloadWebhappPackageBytes()"> -->
			    <!-- 	<span v-if="$webhapp_package_bytes.reading" -->
			    <!-- 	      class="spinner-border spinner-border-sm me-3"></span> -->
			    <!-- 	<i v-else class="bi-download"></i> -->
			    <!-- 	Download Old {{ package_webhapp_filename }} -->
			    <!-- </a> -->

			    <display-error class="mt-3" :error="webhapp_package_bytes_errors.read"></display-error>
			</div>
			<div v-else class="card mx-3 mt-5">
			    <div class="card-body text-center">
				'webhapp' download unavailable because there is no GUI for this release
			    </div>
			</div>
		    </loading>
		</div>
	    </div>
	</div>
    </div>

    <modal v-if="release && happ" title="Unpublish hApp Release" ref="modal"
	   action-text="Unpublish" :action="unpublish" data-bs-backdrop="static">
	<p>Are you sure you want to unpublish the {{ happ.title }} hApp Release <strong>{{ release.version }}</strong>?</p>
    </modal>
</page-view>
