<page-view id="update-happ release-page" class="d-flex flex-column">
    <breadcrumbs v-if="release && happ" :skip-base="true" :path-mapping="breadcrumb_mapping"
		 :sub-1="happ.title" :sub-3="release.name"></breadcrumbs>

    <hr>

    <display-error class="mt-5" :error="error"></display-error>

    <form ref="form" v-if="release"
	  :class="{ 'was-validated': $release.failed }"
	  class="flex-grow-1 d-flex flex-column">
	<div class="mb-4">
	    <h1 class="fs-2"><placeholder :when="!$happ.current" size="fill">{{ happ.title }}</placeholder></h1>
	</div>

	<page-header class="mb-2 py-3">
	    <template #default>
		<h2 class="fs-5 text-nowrap">
		    <placeholder :when="!$release.current" size="fill">
			<input-feedback class="w-auto">
			    <input type="text" v-model="release$.name"
				   class="form-control d-inline-block" style="width: 6em;"
				   :disabled="$release.updating" required>
			</input-feedback>
			<span class="fw-3 ms-3">({{ $filters.time( release.published_at, "date" ) }})</span>
		    </placeholder>
		</h2>
	    </template>

	    <template #title-extras>
		<router-link :to="'/happs/' + happ_id + '/releases/' + id" class="btn btn-outline-primary">Cancel</router-link>

		<a @click="update()" class="btn btn-primary ms-5" :class="{ 'disabled': $release.updating }">
		    <span v-if="$release.updating"
			  class="spinner-border spinner-border-sm me-3"></span>
		    Save changes
		</a>
	    </template>
	</page-header>

	<div class="flex-grow-1 row align-items-stretch">
	    <div class="col-8">
		<div class="card h-100">
		    <div class="card-header">
			Description
			<a class="text-primary fw-2 ms-3 cursor-pointer"
			   @click="togglePreview()">{{ preview_toggle_text }}</a>
		    </div>
		    <div class="card-body">
			<placeholder :when="!$release.current" size="p">
			    <div v-if="show_preview" v-html="mdHTML( release.description )"></div>
			    <input-feedback v-else class="h-100">
				<textarea v-model="release$.description" class="form-control h-100 border-0 shadow-none" rows="10"
					  :disabled="$release.updating"></textarea>
			    </input-feedback>
			</placeholder>
		    </div>
		</div>
	    </div>


	    <div class="col-4">
		<div class="card">
		    <div class="card-header">
			Details
		    </div>
		    <div class="card-body">
			<dl class="row">
			    <dt class="col-sm-12">Created</dt>
			    <dd class="col-sm-12">
				<placeholder :when="!$release.current">
				    <datetime :datetime="release.published_at" format="weekday+date+time"></datetime>
				</placeholder>
			    </dd>

			    <dt class="col-sm-12">Last Updated</dt>
			    <dd class="col-sm-12">
				<placeholder :when="!$release.current">
				    <datetime :datetime="release.last_updated" format="weekday+date+time"></datetime>
				</placeholder>
			    </dd>
			</dl>

			<label class="form-label fw-6">Ordering</label>
			<placeholder :when="!$release.current">
			    <input-feedback>
				<input type="number" v-model.number="release$.ordering"
				       class="form-control" required>
			    </input-feedback>
			</placeholder>

			<label class="form-label fw-6">Official GUI</label>
			<div class="row">
			    <div class="col-auto">
				<identicon v-if="release$.official_gui"
					   :seed="release$.official_gui"></identicon>
			    </div>
			    <div class="col text-end">
				<a @click="guis_modal.show()" class="btn btn-primary">Select GUI Release</a>
			    </div>
			</div>

		    </div>
		</div>
	    </div>
	</div>
    </form>

    <modal title="Select GUI Release" ref="select_gui_release"
	   cancel-text="Finish" data-bs-backdrop="static">

	<div class="accordion">
	    <div v-for="(gui, i) in all_guis"
		 class="accordion-item">
		<h2 class="accordion-header" @click="getGUIReleases( gui.$id )">
		    <button class="accordion-button collapsed" type="button"
			    data-bs-toggle="collapse" :data-bs-target="'#collapse-' + i">
			<span><strong>{{ gui.name }}</strong> - <span class="fw-smaller">{{ gui.description }}</span></span>
		    </button>
		</h2>
		<div :id="'collapse-' + i" class="accordion-collapse collapse">
		    <div class="accordion-body text-start">
			<p>{{ gui.description }}</p>
			<loading :when="!$gui_releases( gui.$id ).present">
			    <ul>
				<li v-for="release in gui_releases( gui.$id )">
				    <input type="radio" name="official_gui"
					   v-model="release$.official_gui"
					   :value="String(release.$id)">
				    {{ release.version }}
				</li>
			    </ul>
			</loading>
		    </div>
		</div>
	    </div>
	</div>

    </modal>
</page-view>
