<page-view id="update-happ release-page" class="d-flex flex-column">
    <breadcrumbs v-if="release && happ" :skip-base="true" :path-mapping="breadcrumb_mapping"
		 :sub-1="happ.title" :sub-3="'v' + release.name"></breadcrumbs>

    <hr>

    <display-error class="mt-5" :error="error"></display-error>

    <form ref="form" :class="{ 'was-validated': validated }"
	  class="flex-grow-1 d-flex flex-column">
	<div class="mb-4">
	    <h1 class="fs-2"><placeholder :when="!$happ.current" size="fill">{{ happ.title }}</placeholder></h1>
	</div>

	<page-header class="mb-2 py-3">
	    <template #default>
		<h2 class="fs-5 text-nowrap">
		    <placeholder :when="!$release.current" size="fill">
			<input-feedback class="w-auto">
			    <input type="text" v-model="release.name"
				   class="form-control d-inline-block" style="width: 6em;"
				   @change="copy(release, input, 'name')"
				   :disabled="$release.updating" required>
			</input-feedback>
			<span class="fw-3 ms-3">({{ $filters.time( release.published_at, "date" ) }})</span>
		    </placeholder>
		</h2>
	    </template>

	    <template #title-extras>
		<router-link :to="'/happs/' + happ_id + '/releases/' + id" class="btn btn-outline-primary">Cancel</router-link>

		<a @click="update()" class="btn btn-primary ms-5" :class="{ 'disabled': $release.updating }">
		    <span v-if="$release.updating"
			  class="spinner-border spinner-border-sm me-3"></span>
		    Save changes
		</a>
	    </template>
	</page-header>

	<div class="flex-grow-1 row align-items-stretch">
	    <div class="col-8">
		<div class="card h-100">
		    <div class="card-header">
			Description
		    </div>
		    <div class="card-body">
			<placeholder :when="!$release.current" size="p" class="h-100">
			    <input-feedback class="h-100">
				<textarea v-model="release.description" class="form-control h-100 border-0 shadow-none" rows="10"
					  @change="copy(release, input, 'description')"
					  :disabled="$release.updating"></textarea>
			    </input-feedback>
			</placeholder>
		    </div>
		</div>
	    </div>

	    <div class="col-4">
		<div class="card">
		    <div class="card-header">
			Details
		    </div>
		    <div class="card-body">
			<dl class="row">
			    <dt class="col-sm-12">Created</dt>
			    <dd class="col-sm-12"><placeholder :when="!$release.current">{{ $filters.time( release.published_at, "weekday+date" ) }}</placeholder></dd>

			    <dt class="col-sm-12">Last Updated</dt>
			    <dd class="col-sm-12"><placeholder :when="!$release.current">{{ $filters.time( release.last_updated, "weekday+date" ) }}</placeholder></dd>
			</dl>
		    </div>
		</div>
	    </div>
	</div>
    </form>
</page-view>
