<!doctype html>
<html >
    <head>
	<title>DevHub</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

	<!-- Application -->
	<script src="/dependencies/vue.js"></script>
	<script src="/dependencies/vuex.js"></script>
	<script src="/dependencies/vue-router.js"></script>

	<script src="/dependencies/crux-payload-parser.js"></script>
	<script src="/dependencies/holochain-client/holochain-client.js"></script>
	<script src="/dependencies/holo-hash.js"></script>
	<script src="/dependencies/showdown.js"></script>
	<script src="/dependencies/msgpack.js"></script>
	<script src="/dependencies/sha256.js"></script>
	<script type="module">
	    import assets from './dependencies/mere-memory-sdk.js';
	    console.log("Assigning mere memory assets to window:", assets );
	    Object.assign( window, assets );

	    import pako from './dependencies/gzip.js';
	    Object.assign( window, { pako });
	</script>

	<!-- Responsive mobile-first framework -->
	<link rel="stylesheet" href="/bootstrap-v5/bootstrap-v5.1.0.min.css">
	<link rel="stylesheet" href="/bootstrap-icons-v1/bootstrap-icons-v1.9.1.css">

	<!-- Manual Overrides -->
	<link rel="stylesheet" href="/css/bootstrap-holochain-theme.css">

	<!-- Font -->
	<link rel="stylesheet" href="/googlefonts/mulish.css">
    </head>
    <body>
	<div id="app" v-cloak class="row">
	    <div class="col-auto">
		<div class="d-flex flex-column flex-shrink-0 bg-light"
		     style="width: 12rem; height: 100vh;">
		    <ul class="list-group list-group-flush">
			<li class="list-group-item list-group-item-action text-center">
			    <a href="/" class="nav-link" title="Home">
				<img src="/holochain-home.png">
			    </a>
			</li>
			<li class="list-group-item">
			    <router-link to="/happs" class="nav-link">
				hApps
			    </router-link>
			    <router-link to="/happs?agent=me" class="nav-link">
				&mdash; My hApps
			    </router-link>
			</li>
			<li class="list-group-item">
			    <router-link to="/guis" class="nav-link">
				GUIs
			    </router-link>
			    <router-link to="/guis?agent=me" class="nav-link">
				&mdash; My GUIs
			    </router-link>
			</li>
			<li class="list-group-item">
			    <router-link to="/dnas" class="nav-link">
				DNAs
			    </router-link>
			    <router-link to="/dnas?agent=me" class="nav-link">
				&mdash; My DNAs
			    </router-link>
			</li>
			<li class="list-group-item">
			    <router-link to="/zomes" class="nav-link">
				Zomes
			    </router-link>
			    <router-link to="/zomes?agent=me" class="nav-link">
				&mdash; My Zomes
			    </router-link>
			</li>
		    </ul>

		    <div class="d-flex flex-column align-items-center p-3">
			<label>My Agent ID</label>
			<identicon :seed="agent_id" :size="100" color @click="copyAgentId()"></identicon>

			<div v-if="show_copied_message" class="text-success">
			    Copied Agent ID
			</div>
		    </div>
		</div>
	    </div>

	    <div class="col vh-100" style="overflow-y: scroll; padding-right: 0;">
		<page-view v-if="status_view_html" id="tatus-page">
		    <breadcrumbs :skip-base="true" :path-mapping="breadcrumb_mapping"></breadcrumbs>

		    <hr>

		    <div v-if="status_view_data">
			<h1>{{ status_view_data.title }}</h1>

			<h4 class="fw-2 text-danger">{{ status_view_data.code }} status - <span v-html="status_view_data.message"></span></h4>

			<div v-if="status_view_data.details">
			    <strong>Details</strong>
			    <ul>
				<li v-for="msg in status_view_data.details" v-html="msg"></li>
			    </ul>
			</div>
		    </div>
		    <div v-else v-html="status_view_html"></div>
		</page-view>
		<main v-else class="h-100 d-flex flex-column">
		    <router-view :key="$route.fullPath" style="overflow-x: hidden;" class="pe-3"></router-view>
		</main>
	    </div>
	</div>

	<script src="/dist/webpacked.app.js" async></script>

	<!-- Bootstrap Components -->
	<script src="/jquery-v3/jquery-v3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="/popper-v2/popper-v2.9.2.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="/bootstrap-v5/bootstrap-v5.1.0.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>
