<page-view id="create-dna-version-page">
    <breadcrumbs v-if="dna" :skip-base="true" :path-mapping="breadcrumb_mapping"
		 :sub-1="dna.display_name || dna.name"></breadcrumbs>

    <hr>

    <form :class="{ 'was-validated': $version.failed }">
	<div v-if="!version$.hdk_version" class="row">
	    <div class="col-6">
		<loading :when="!$previous_hdk_versions.current">
		    <label class="form-label">Versions on DevHub</label>
		    <select class="form-select"
			    v-model="version$.hdk_version"
			    @change="getZomesByHDKVersion( $event.target.value )"
			    :disabled="previous_hdk_versions.length === 0">
			<option selected :value="null">Choose an HDK version</option>
			<option v-for="hdkv in previous_hdk_versions">{{ hdkv }}</option>
		    </select>
		</loading>
	    </div>
	</div>

	<div v-if="version$.hdk_version" class="row">
	    <div class="col-12">
		<a class="btn btn-outline-secondary"
		   @click="version$.hdk_version = null">
		    <i class="bi-chevron-left"></i>
		    Change HDK Version
		</a>
	    </div>
	    <div class="col-6">
		<label class="form-label fw-6">Version Number</label>
		<input-feedback>
		    <div class="input-group">
			<span class="input-group-text">v</span>
			<input v-model="version$.version" class="form-control" :disabled="$version.writing" required>
		    </div>
		</input-feedback>

		<label class="form-label fw-6">Ordering</label>
		<input-feedback>
		    <input type="number" v-model.number="version$.ordering" class="form-control" :disabled="$version.writing" required>
		</input-feedback>

		<label class="form-label fw-6">Changelog</label>
		<input-feedback>
		    <textarea v-model="version$.changelog" class="form-control font-monospace" rows="10" :disabled="$version.writing"></textarea>
		</input-feedback>

		<label class="form-label fw-6">Origin Time</label>
		<input-feedback>
		    <input v-model="version$.origin_time" class="form-control" :disabled="$version.writing" required>
		</input-feedback>

		<label class="form-label fw-6">Network Seed</label>
		<input-feedback>
		    <input v-model="version$.network_seed" class="form-control" :disabled="$version.writing">
		</input-feedback>

		<label class="form-label fw-6">Integrity Zomes</label>

		<list-group :list="version$.integrity_zomes" no-result-text="No Integrity Zomes have been added"
			    class="mt-0">
		    <list-group-item v-for="(zome_ref, index) in version$.integrity_zomes"
				     :key="zome_ref.version" class="py-3">
			<zome-version-card :id="zome_ref.version"
					   :link="false"
					   :actions="zomeCardActions( index, version$.integrity_zomes )"></zome-version-card>

			<input-feedback class="mt-3">
			    <div class="input-group">
				<span class="input-group-text">Zome Name</span>
				<input type="text" v-model="zome_ref.name" class="form-control" required :disabled="$version.writing">
			    </div>
			</input-feedback>
		    </list-group-item>
		</list-group>

		<label class="form-label fw-6">Coordination Zomes</label>

		<list-group :list="version$.zomes" no-result-text="No Zomes have been added"
			    class="mt-0">
		    <list-group-item v-for="(zome_ref, index) in version$.zomes" class="py-3">
			<zome-version-card :id="zome_ref.version"
					   :link="false"
					   :actions="zomeCardActions( index, version$.zomes )"></zome-version-card>

			<input-feedback class="my-3">
			    <div class="input-group">
				<span class="input-group-text">Zome Name</span>
				<input type="text" v-model="zome_ref.name" class="form-control" required :disabled="$version.writing">
			    </div>
			</input-feedback>

			<label class="form-label fw-6">Dependency Zome(s)</label>
			<input-feedback class="mb-3">
			    <select class="form-select" multiple required
				    v-model="zome_ref.dependencies">
				<option v-for="izome_ref in version$.integrity_zomes"
					:value="izome_ref.name">{{ izome_ref.name }}</option>
			    </select>
			</input-feedback>
		    </list-group-item>
		</list-group>
	    </div>
	    <div class="col-6">
		<div class="mb-3">
		    <label class="form-label fw-6">Search zomes</label>
		    <div class="form-input-search">
			<input type="text" class="form-control no-validate"
			       placeholder="start typing a Zome name"
			       v-model="zome_search_text">
		    </div>
		</div>

		<label class="form-label fw-6">Integrity Zomes</label>
		<list-group :list="compatible_integrity_zomes"
			    :loading="$compatible_integrity_zomes.reading"
			    no-result-text="No Zomes" class="mt-0">
		    <template v-for="zome in compatible_integrity_zomes" :key="zome.$id">
			<list-group-item class="py-3">
			    <zome-card :id="zome.$id"
				       :link="false"
				       :actions="[ addZomeAction( zome, version$.integrity_zomes ) ]"></zome-card>
			</list-group-item>
		    </template>
		</list-group>

		<label class="form-label fw-6">Coordination Zomes</label>
		<list-group :list="compatible_coordinator_zomes"
			    :loading="$compatible_coordinator_zomes.reading"
			    no-result-text="No Zomes" class="mt-0">
		    <template v-for="zome in compatible_coordinator_zomes" :key="zome.$id">
			<list-group-item class="py-3">
			    <zome-card :id="zome.$id"
				       :link="false"
				       :actions="[ addZomeAction( zome, version$.zomes ) ]"></zome-card>
			</list-group-item>
		    </template>
		</list-group>
	    </div>
	</div>

	<div v-if="version$.hdk_version" class="row">
	    <div class="col-6">
		<input-rejections v-if="$version.failed" class="mt-5"
				  :rejections="version_rejections"></input-rejections>

		<div class="row mt-5">
		    <div class="col-6"></div>
		    <div class="col-3">
			<router-link :to="'/dnas/' + dna_id" class="btn btn-outline-primary w-100">Cancel</router-link>
		    </div>
		    <div class="col-3">
			<a @click="create()" class="btn btn-primary w-100"
			   :class="{ 'disabled': $version.writing }">
			    <span v-if="$version.writing"
				  class="spinner-border spinner-border-sm me-3"></span>
			    Save
			</a>
		    </div>
		</div>

		<display-error class="mt-5" :error="version_errors.write"></display-error>
	    </div>
	</div>
    </form>

    <modal ref="changeVersion"
	   :title="'Change version for ' + (change_version_context ? change_version_context[2] : '...')"
	   data-bs-backdrop="static">
	<loading :when="!$alternative_versions.present">
	    <div v-for="version in alternative_versions" class="mb-3">
		<zome-version-card :id="version.$id"
				   :link="false"
				   class="cursor-pointer"
				   @click="selectNewVersion( version )"></zome-version-card>
	    </div>
	</loading>
    </modal>

</page-view>
