<page-view id="single-dna version-page">
    <breadcrumbs v-if="version && dna" :skip-base="true" :path-mapping="breadcrumb_mapping"
		 :sub-1="dna.display_name || dna.name" :sub-3="'v' + version.version">
	<a v-if="$version.present" @click="fetchVersion()" class="ms-2 fs-4">
	    <i class="bi-arrow-repeat" :class="{ 'animate-spin': $version.reading }"></i>
	</a>
    </breadcrumbs>

    <hr>

    <deprecation-alert v-if="dna?.deprecation && $version.current"
		       title="The parent DNA has been deprecated"></deprecation-alert>

    <div class="mb-4">
	<h1 class="fs-2"><placeholder :when="!$dna.current" size="25%">{{ dna.display_name || dna.name }}</placeholder></h1>
    </div>

    <page-header class="mb-2 p-3">
	<template #default>
            <h2 class="fs-5 text-nowrap">
		<placeholder :when="!$version.current" size="fill">v{{ version.version }}
		    <span class="fw-3 ms-3">({{ $filters.time( version.published_at, "date" ) }})</span>
		</placeholder>
	    </h2>
	</template>

	<template #title-extras v-if="$version.writable">
            <router-link :to="'/dnas/' + dna_id + '/versions/' + id + '/update'" class="btn btn-outline-primary text-nowrap align-middle">
		<i class="bi-pencil"></i>
		Edit version
            </router-link>

            <a @click="modal.show()" class="btn btn-secondary ms-5 text-nowrap">
		Unpublish
            </a>
	</template>
    </page-header>

    <div class="row align-items-stretch">
	<div class="col-8">
	    <div class="card h-100">
		<div class="card-header">
		    Changelog
		</div>
		<div class="card-body">
		    <placeholder :when="!$version.current">
			<div v-html="version.changelog_html"></div>
		    </placeholder>
		</div>
	    </div>
	</div>

	<div class="col-4">
	    <div class="card">
		<div class="card-header">
		    Details
		</div>
		<div class="card-body">
		    <dl class="row">
			<dt class="col-sm-12">Created</dt>
			<dd class="col-sm-12">
			    <placeholder :when="!$version.current">
				<datetime :datetime="version.published_at" format="weekday+date+time"></datetime>
			    </placeholder>
			</dd>

			<dt class="col-sm-12">Last Updated</dt>
			<dd class="col-sm-12">
			    <placeholder :when="!$version.current">
				<datetime :datetime="version.last_updated" format="weekday+date+time"></datetime>
			    </placeholder>
			</dd>

			<dt class="col-sm-12">HDK Version</dt>
			<dd class="col-sm-12"><placeholder :when="!$version.current">{{ version.hdk_version }}</placeholder></dd>

			<dt class="col-sm-12">Resource Hash</dt>
			<dd class="col-sm-12"><placeholder :when="!$version.current"><code>{{ version.wasm_hash }}</code></placeholder></dd>
		    </dl>

		    <h4 class="fs-6">Properties</h4>
		    <dl v-if="version && version.properties" class="row">
			<template v-for="(value, name) in version.properties">
			    <dt class="col-sm-12">{{ name }}</dt>
			    <dd class="col-sm-12">
				<pre class="text-secondary mb-0">{{ $debug( value ) }}</pre>
			    </dd>
			</template>
		    </dl>
		    <div v-else class="card">
			<div class="card-body text-center">
			    No properties
			</div>
		    </div>

		    <h4 class="fs-6 mt-5">Integrity Zomes</h4>
		    <list-group v-if="version" :list="version.integrity_zomes"
				:loading="!$version.current">
			<template v-for="zome_ref in version.integrity_zomes" :key="zome_ref.version">
			    <zome-version-card class="my-2"
					       :title="zome_ref.name"
					       :id="zome_ref.version"></zome-version-card>
			</template>
		    </list-group>

		    <h4 class="fs-6 mt-5">Coordination Zomes</h4>
		    <list-group v-if="version" :list="version.zomes" no-result-text="No Zomes"
				:loading="!$version.current">
			<template v-for="zome_ref in version.zomes" :key="zome_ref.version">
			    <zome-version-card class="my-2"
					       :title="zome_ref.name"
					       :id="zome_ref.version"></zome-version-card>
			    <!-- <div v-else class="card my-2"> -->
			    <!-- 	<div class="card-body text-center"> -->
			    <!-- 	    <p><i>This version of <strong>{{ name }}</strong> has been unpublished</i></p> -->
			    <!-- 	</div> -->
			    <!-- </div> -->
			</template>
		    </list-group>

		    <loading :when="!$version.current">
			<div class="mx-3 my-5">
			    <a class="btn btn-primary w-100" @click="downloadPackageBytes()">
				<span v-if="$package_bytes.reading"
				      class="spinner-border spinner-border-sm me-3"></span>
				<i v-else class="bi-download"></i>
				Download {{ package_filename }}
			    </a>

			    <display-error class="mt-3" :error="package_bytes_errors.read"></display-error>
			</div>
		    </loading>
		</div>
	    </div>
	</div>
    </div>

    <modal v-if="version && dna" title="Unpublish DNA Version" ref="modal"
	   action-text="Unpublish" :action="unpublish" data-bs-backdrop="static">
	<p>Are you sure you want to unpublish the {{ dna.name }} DNA Version <strong>{{ version.version }}</strong>?</p>
    </modal>
</page-view>
