<page-view id="upload-dna-bundle-page">
    <breadcrumbs v-if="dna" :skip-base="true" :path-mapping="breadcrumb_mapping" :sub-1="dna.display_name || dna.name">
	<a v-if="$dna.loaded" @click="fetchDna()" class="ms-2 fs-4">
	    <i class="bi-arrow-repeat" :class="{ 'animate-spin': $dna.loading }"></i>
	</a>
    </breadcrumbs>

    <hr>

    <page-header class="mb-3">
	<template #default>
	    <div v-if="dna">
		<h1 class="fs-2">{{ dna.display_name || dna.name }}</h1>
	    </div>
	</template>
    </page-header>

    <div class="row mb-4">
	<div class="col-6">
	    <ul class="step-progress-bar my-5">
		<li v-for="(title, i) in steps" :class="{ 'spb-step-active': step >= i }">
		    <div style="width: 1em; height: 1em;"></div>
		    <label v-if="step === i">{{ title }}</label>
		</li>
	    </ul>
	</div>
    </div>

    <div v-if="step === 0">
	<h3>Upload</h3>
	<div class="row">
	    <div class="col-6">
		<loading :when="$uploaded_file.loading || $bundle.loading">
		    <label class="form-label fw-6">Drag and drop DNA bundle here</label>
		    <input-feedback style="height: 10rem;" :valid-message="file_valid_feedback">
			<input type="file" @change="file_selected" class="form-control form-input-file" required>
		    </input-feedback>
		</loading>
	    </div>
	</div>
    </div>

    <div v-if="step === 1">
	<h3>Zomes
	    <a class="btn btn-outline-warning btn-sm" @click="reset_file()">Reset</a>
	</h3>

	<form ref="form_extras"
	      class="row mb-5"
	      :class="{ 'was-validated': validated }">
	    <div class="col-6">
		<div class="row">
		    <div class="col-6">
			<label class="form-label fw-6">HDK Version</label>
			<input-feedback>
			    <div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">v</span>
				<input v-model="input.hdk_version" class="form-control" required
				       :disabled="lock_hdk_version_input">
			    </div>
			</input-feedback>
		    </div>
		    <div v-if="$previous_hdk_versions.loaded" class="col-6">
			<loading :when="!$previous_hdk_versions.current">
			    <label class="form-label">Versions on DevHub</label>
			    <select class="form-select"
				    :disabled="previous_hdk_versions.length === 0 || lock_hdk_version_input"
				    @change="selectHDKVersion( $event.target.value )">
				<option selected value="">Choose an HDK version</option>
				<option v-for="hdkv in previous_hdk_versions">{{ hdkv }}</option>
			    </select>
			</loading>
		    </div>
		</div>
	    </div>
	</form>

	<h4>Integrity Zomes</h4>
	<div v-for="zome in bundle.integrity.zomes" class="row mb-5">
	    <div class="col-6">
		<zome-version-card v-if="zome.selected_zome_version"
				   class="mb-3"
				   :id="zome.selected_zome_version.$id"
				   :link="false"
				   :actions="[ unselectAction( zome ) ]"></zome-version-card>
		<form v-else
		      :ref="'form_' + zome.name"
		      :class="{ 'was-validated': zome.validated }">
		    <div class="card entity-card zome-card">
			<div class="entity-card-header"><strong>{{ zome.name }}</strong></div>
			<div v-if="zome.selected_zome" class="entity-card-actions">
			    <a class="float-start"
			       title="Change parent Zome"
			       @click="unassign_parent_zome_for( zome )">
				<i class="bi-x-lg"></i>
			    </a>
			</div>
			<div class="card-body">
			    <div class="row mb-2">
				<div class="col-6">
				    <p v-if="zome.selected_zome" class="card-text text-truncate mb-1">{{ zome.selected_zome.description || "No description" }}</p>
				    <template v-else>
					<label class="form-label fw-6">Name <small>(from Manifest)</small></label>
					<input-feedback>
					    <input type="text" v-model="zome.name" class="form-control" required readonly>
					</input-feedback>

					<label class="form-label fw-6">Display Name (optional)</label>
					<input-feedback>
					    <input type="text" v-model="zome.display_name" class="form-control" :disabled="zome.saving">
					</input-feedback>

					<label class="form-label fw-6">Description</label>
					<input-feedback>
					    <textarea v-model="zome.description" class="form-control" rows="4" :disabled="zome.saving"></textarea>
					</input-feedback>
				    </template>
				</div>
				<div class="col text-end">
				    <holo-hash v-if="zome.selected_zome" :hash="zome.selected_zome.$id" class="float-end ms-3"></holo-hash>
				    <template v-else>
					<div v-if="!$zomes(zome.name).current || zomes(zome.name).length > 0">
					    <a class="btn btn-outline-secondary btn-sm position-relative"
					       @click="prompt_select_zome( zome )">
						<span v-if="$zome_versions(zome.hash).loading"
						      class="spinner-border spinner-border-sm"></span>
						<template v-else>
						    Existing parent Zome?
						    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
							{{ zomes(zome.name).length }}
						    </span>
						</template>
					    </a>
					</div>
				    </template>
				</div>
			    </div>

			    <dl class="row mb-0">
				<dt class="col-3">Author ID</dt>
				<dd class="col-9 mb-1" style="margin-left: -0.5em;">
				    <holo-hash v-if="zome.selected_zome" :hash="zome.selected_zome.developer" class="agent-badge"></holo-hash>
				    <input v-else class="form-control" :value="$root.agent.pubkey.current" readonly>
				</dd>
			    </dl>
			    <div style="margin: 1rem 0 1.5rem 0;">
				<template v-if="zome.selected_zome && versions_for_zome(zome.selected_zome.$id).length">
				    <div v-if="versions_for_zome(zome.selected_zome.$id).length > 4"
					 class="card entity-card entity-card-layered zome-card">
					<div class="entity-card-header">... {{ versions_for_zome(zome.selected_zome.$id).length - 4 }} more versions</div>
				    </div>
				    <div v-for="zome_version in versions_for_zome(zome.selected_zome.$id).slice(-4)"
					 class="card entity-card entity-card-layered zome-card">
					<div class="entity-card-header">Version: <strong>{{ zome_version.version }}</strong></div>
				    </div>
				</template>

				<div class="card entity-card zome-version-card">
				    <div class="entity-card-header">New version</div>
				    <div class="card-body">
					<div class="row mb-2">
					    <div class="col-auto">
						<div class="row">
						    <div class="col-12">
							<label class="form-label fw-6">Zome Version</label>
							<input-feedback>
							    <div class="input-group mb-3">
								<span class="input-group-text">v</span>
								<input v-model="zome.version" class="form-control"
								       :disabled="zome.saving" required>
							    </div>
							</input-feedback>
						    </div>
						</div>
					    </div>
					    <div class="col text-end">
						<div class="row g-2">
						    <template v-if="!zome.selected_zome">
							<div v-if="!$zome_versions(zome.hash).current || zome_versions(zome.hash).length > 0" class="col-12">
							    <a class="btn btn-outline-secondary btn-sm position-relative"
							       @click="prompt_select_zome_version( zome )">
								<span v-if="$zome_versions(zome.hash).loading"
								      class="spinner-border spinner-border-sm"></span>
								<template v-else>
								    Use existing version
								    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
									{{ zome_versions(zome.hash).length }}
								    </span>
								</template>
							    </a>
							</div>
						    </template>
						</div>
					    </div>
					</div>

					<dl class="row mb-0">
					    <dt class="col-3">Resource Size</dt>
					    <dd class="col-9 mb-1 text-truncate">
						{{ $filters.number( zome.bytes.length ) }} bytes
					    </dd>

					    <dt class="col-3">Resource Hash</dt>
					    <dd class="col-9 mb-1 text-truncate">
						<code>{{ zome.hash }}</code>
					    </dd>
					</dl>
				    </div>
				</div>
			    </div>

			    <div v-if="!(input.hdk_version && zome.version )" class="alert alert-warning" role="alert">
				<p class="m-0">Missing HDK Version or Zome Version</p>
			    </div>

			    <div class="d-flex justify-content-end mb-3">
				<a @click="create_zome_version( zome, 0 )"
				   class="btn btn-outline-primary"
				   :class="{ 'disabled': !(input.hdk_version && zome.version ) }"
				   title="Upload new Zome Version">
				    <span v-if="zome.saving"
					  class="spinner-border spinner-border-sm me-3"></span>
				    <i v-else class="bi-upload"></i>
				    Create Zome Version
				</a>
			    </div>
			</div>
		    </div>
		</form>
	    </div>
	    <div class="col-6">
	    </div>
	</div>

	<h4>Coordinator Zomes</h4>
	<div v-for="zome in bundle.coordinator.zomes" class="row mb-5">
	    <div class="col-6">
		<zome-version-card v-if="zome.selected_zome_version"
				   class="mb-3"
				   :id="zome.selected_zome_version.$id"
				   :link="false"
				   :actions="[ unselectAction( zome ) ]"></zome-version-card>
		<form v-else
		      :ref="'form_' + zome.name"
		      :class="{ 'was-validated': zome.validated }">
		    <div class="card entity-card zome-card">
			<div class="entity-card-header"><strong>{{ zome.name }}</strong></div>
			<div v-if="zome.selected_zome" class="entity-card-actions">
			    <a class="float-start"
			       title="Change parent Zome"
			       @click="unassign_parent_zome_for( zome )">
				<i class="bi-x-lg"></i>
			    </a>
			</div>
			<div class="card-body">
			    <div class="row mb-2">
				<div class="col-6">
				    <p v-if="zome.selected_zome" class="card-text text-truncate mb-1">{{ zome.selected_zome.description || "No description" }}</p>
				    <template v-else>
					<label class="form-label fw-6">Name <small>(from Manifest)</small></label>
					<input-feedback>
					    <input type="text" v-model="zome.name" class="form-control" required readonly>
					</input-feedback>

					<label class="form-label fw-6">Display Name (optional)</label>
					<input-feedback>
					    <input type="text" v-model="zome.display_name" class="form-control" :disabled="zome.saving">
					</input-feedback>

					<label class="form-label fw-6">Description</label>
					<input-feedback>
					    <textarea v-model="zome.description" class="form-control" rows="4" :disabled="zome.saving"></textarea>
					</input-feedback>
				    </template>
				</div>
				<div class="col text-end">
				    <holo-hash v-if="zome.selected_zome" :hash="zome.selected_zome.$id" class="float-end ms-3"></holo-hash>
				    <template v-else>
					<div v-if="!$zomes(zome.name).current || zomes(zome.name).length > 0">
					    <a class="btn btn-outline-secondary btn-sm position-relative"
					       @click="prompt_select_zome( zome )">
						<span v-if="$zome_versions(zome.hash).loading"
						      class="spinner-border spinner-border-sm"></span>
						<template v-else>
						    Existing parent Zome?
						    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
							{{ zomes(zome.name).length }}
						    </span>
						</template>
					    </a>
					</div>
				    </template>
				</div>
			    </div>

			    <dl class="row mb-0">
				<dt class="col-3">Author ID</dt>
				<dd class="col-9 mb-1" style="margin-left: -0.5em;">
				    <holo-hash v-if="zome.selected_zome" :hash="zome.selected_zome.developer" class="agent-badge"></holo-hash>
				    <input v-else class="form-control" :value="$root.agent.pubkey.current" readonly>
				</dd>
			    </dl>
			    <div style="margin: 1rem 0 1.5rem 0;">
				<template v-if="zome.selected_zome && versions_for_zome(zome.selected_zome.$id).length">
				    <div v-if="versions_for_zome(zome.selected_zome.$id).length > 4"
					 class="card entity-card entity-card-layered zome-card">
					<div class="entity-card-header">... {{ versions_for_zome(zome.selected_zome.$id).length - 4 }} more versions</div>
				    </div>
				    <div v-for="zome_version in versions_for_zome(zome.selected_zome.$id).slice(-4)"
					 class="card entity-card entity-card-layered zome-card">
					<div class="entity-card-header">Version: <strong>{{ zome_version.version }}</strong></div>
				    </div>
				</template>

				<div class="card entity-card zome-version-card">
				    <div class="entity-card-header">New version</div>
				    <div class="card-body">
					<div class="row mb-2">
					    <div class="col-auto">
						<div class="row">
						    <div class="col-12">
							<label class="form-label fw-6">Zome Version</label>
							<input-feedback>
							    <div class="input-group mb-3">
								<span class="input-group-text">v</span>
								<input v-model="zome.version" class="form-control"
								       :disabled="zome.saving" required>
							    </div>
							</input-feedback>
						    </div>
						</div>
					    </div>
					    <div class="col text-end">
						<div class="row g-2">
						    <template v-if="!zome.selected_zome">
							<div v-if="!$zome_versions(zome.hash).current || zome_versions(zome.hash).length > 0" class="col-12">
							    <a class="btn btn-outline-secondary btn-sm position-relative"
							       @click="prompt_select_zome_version( zome )">
								<span v-if="$zome_versions(zome.hash).loading"
								      class="spinner-border spinner-border-sm"></span>
								<template v-else>
								    Use existing version
								    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
									{{ zome_versions(zome.hash).length }}
								    </span>
								</template>
							    </a>
							</div>
						    </template>
						</div>
					    </div>
					</div>

					<dl class="row mb-0">
					    <dt class="col-3">Resource Size</dt>
					    <dd class="col-9 mb-1 text-truncate">
						{{ $filters.number( zome.bytes.length ) }} bytes
					    </dd>

					    <dt class="col-3">Resource Hash</dt>
					    <dd class="col-9 mb-1 text-truncate">
						<code>{{ zome.hash }}</code>
					    </dd>
					</dl>
				    </div>
				</div>
			    </div>

			    <div v-if="!(input.hdk_version && zome.version )" class="alert alert-warning" role="alert">
				<p class="m-0">Missing HDK Version or Zome Version</p>
			    </div>

			    <div class="d-flex justify-content-end mb-3">
				<a @click="create_zome_version( zome, 1 )"
				   class="btn btn-outline-primary"
				   :class="{ 'disabled': !(input.hdk_version && zome.version ) }"
				   title="Upload new Zome Version">
				    <span v-if="zome.saving"
					  class="spinner-border spinner-border-sm me-3"></span>
				    <i v-else class="bi-upload"></i>
				    Create Zome Version
				</a>
			    </div>
			</div>
		    </div>
		</form>
	    </div>
	    <div class="col-6">
	    </div>
	</div>

	<div class="row">
	    <div class="col-6">
		<div v-if="missingZomes()" class="alert alert-info" role="alert">
		    <p class="m-0">Finish selecting or creating zomes to continue</p>
		</div>

		<div class="row">
		    <div class="col-6">
		    </div>
		    <div class="col-6 text-end">
			<a @click="zome_selection_confirmed = true"
			   class="btn btn-outline-primary"
			   :class="{ 'disabled': missingZomes() }">
			    Continue
			    <i class="bi-chevron-right"></i>
			</a>
		    </div>
		</div>
	    </div>
	</div>
    </div>

    <form :class="{ 'was-validated': validated }">
	<div v-if="step === 2">
	    <div class="row mb-5">
		<div class="col-6">
		    <h2 class="mt-4">DNA Version Details</h2>

		    <div v-if="uploaded_file" class="row">
			<label class="form-label fw-6">Version</label>
			<input-feedback>
			    <div class="input-group">
				<span class="input-group-text">v</span>
				<input v-model="input.version" class="form-control" required>
			    </div>
			</input-feedback>

			<label class="form-label fw-6">Ordering</label>
			<input-feedback>
			    <input type="number" v-model.number="input.ordering" class="form-control" :disabled="saving" required>
			</input-feedback>

			<label class="form-label fw-6">Changelog</label>
			<input-feedback>
			    <textarea v-model="input.changelog" class="form-control" rows="10" required></textarea>
			</input-feedback>

			<label class="form-label fw-6">HDK Version</label>
			<input-feedback>
			    <input v-model="input.hdk_version" class="form-control" readonly required>
			</input-feedback>

			<label class="form-label fw-6">Properties</label>
			<div class="px-3">
			    <table v-if="input.properties" class="table">
				<thead>
				    <tr>
					<th class="text-end">Name</th>
					<th>Default value</th>
				    </tr>
				</thead>
				<tbody>
				    <tr v-for="(value, name) in input.properties">
					<th class="text-end"><code>{{ name }}</code></th>
					<td><pre class="mb-0 pt-1">{{ $debug(value) }}</pre></td>
				    </tr>
				</tbody>
			    </table>
			    <div v-else class="card">
				<div class="card-body text-center">
				    No properties
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>

	    <div class="row mt-3">
		<div class="col-6">
		    <div class="row">
			<div class="col-6">
			    <a @click="zome_selection_confirmed = false" class="btn btn-outline-secondary">
				<i class="bi-chevron-left"></i>
				Back
			    </a>
			</div>
			<div class="col-6 text-end">
			    <a @click="readyForReview()" class="btn btn-outline-primary" :class="{ 'disabled': !(input.version && input.changelog) }">
				Review
				<i class="bi-chevron-right"></i>
			    </a>
			</div>
		    </div>
		</div>
	    </div>
	</div>

	<div v-if="step === 3">
	    <div class="row mb-5">
		<div class="col-6">
		    <h2 class="mt-4">Final Review</h2>

		    <div class="card entity-card dna-version-card">
			<div class="entity-card-header">Version: <strong>{{ input.version }}</strong></div>
			<div class="card-body">
			    <div class="row mb-2">
				<div class="col-auto">
				    <p class="card-text text-truncate mb-1">HDK {{ input.hdk_version }}</p>
				</div>
			    </div>

			    <h4 class="fs-6 mt-2">Changelog</h4>
			    <div class="bg-light rounded-3 p-4 pb-3 mb-3">
				{{ input.changelog }}
			    </div>

			    <dl class="row mb-0">
				<dt class="col-3">Resource Hash</dt>
				<dd class="col-9 mb-1">
				    <code>{{ bundle.dna_hash }}</code>
				</dd>

				<dt class="col-3">Created</dt>
				<dd class="col-9 mb-1">TBD</dd>

				<dt class="col-3">Last Updated</dt>
				<dd class="col-9 mb-1">TBD</dd>
			    </dl>

			    <div v-if="input.properties">
				<h4 class="fs-6 mt-2">Properties</h4>
				<table class="table mx-3">
				    <thead>
					<tr>
					    <th class="text-end">Name</th>
					    <th>Default value</th>
					</tr>
				    </thead>
				    <tbody>
					<tr v-for="(value, name) in input.properties">
					    <th class="text-end"><code>{{ name }}</code></th>
					    <td><pre class="mb-0 pt-1">{{ $debug(value) }}</pre></td>
					</tr>
				    </tbody>
				</table>
			    </div>

			    <strong>Integrity</strong>
			    <div class="row gy-3" style="margin: 1rem 0 2.5rem 0;">
				<div v-for="zome in bundle.integrity.zomes"
				     class="col-12 px-0">
				    <zome-version-card :id="zome.selected_zome_version.$id"
						       :title="zome.name"
						       :link="false"></zome-version-card>
				</div>
			    </div>

			    <strong>Coordinator</strong>
			    <div class="row gy-3" style="margin: 1rem 0 2.5rem 0;">
				<div v-for="zome in bundle.coordinator.zomes"
				     class="col-12 px-0">
				    <zome-version-card :id="zome.selected_zome_version.$id"
						       :title="zome.name"
						       :link="false"></zome-version-card>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>

	    <div class="row mt-3">
		<div class="col-6">
		    <display-error class="mt-5" :error="error"></display-error>

		    <div class="row">
			<div class="col-6">
			    <a @click="ready_for_review = false" class="btn btn-outline-secondary" :class="{ 'disabled': saving }">
				<i class="bi-chevron-left"></i>
				Back
			    </a>
			</div>
			<div class="col-6 text-end">
			    <a @click="create()" class="btn btn-primary" :class="{ 'disabled': saving }">
				<span v-if="saving"
				      class="spinner-border spinner-border-sm me-3"></span>
				Save
			    </a>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </form>

    <!-- <pre>{{ $debug( bundle ) }}</pre> -->
    <!-- <pre>{{ $debug( input ) }}</pre> -->

    <modal ref="selectZomeVersion"
	   title="Select Existing Version">
	<loading v-if="select_version_context"
		 :when="!$zome_versions(select_version_context.hash).current">
	    <template v-for="entity in zome_versions(select_version_context.hash)">
		<zome-version-card v-if="hdkVersionMatches( entity )"
				   class="mb-3" style="cursor: pointer;"
				   @click="select_zome_version( select_version_context, entity )"
				   :id="entity.$id" :link="false"></zome-version-card>
	    </template>
	</loading>
    </modal>

    <modal ref="selectZome"
	   title="Select Existing Zome">
	<loading v-if="select_zome_context"
		 :when="!$zomes(select_zome_context.name).current">
	    <template v-for="entity in zomes(select_zome_context.name)">
		<zome-card class="mb-3" style="cursor: pointer;"
			   @click="assign_parent_zome_for( select_zome_context, entity )"
			   :id="entity.$id" :link="false"></zome-card>
	    </template>
	</loading>
    </modal>
</page-view>
